<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
    <style type="text/css">
        header {
            background-color: orange;
            color: white;
            text-align: center;
            font-size: 200%;
        }
        li {
            list-style: square;
            font-size: 150%;
        }
        .veja {
            font-size: 50%;
        }
    </style>
</head>
<body>
    <header>
        <h1>Lista de Produtos</h1>
    </header>
    <section>
    </section>
</body>
</html>